 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">M.S. Cybersecurity (Information Assurance, Cyber Operations)</h4>
    <h5 class="meta"><img class="org-logo" src="{{site.baseurl}}/assets/images/logos/suu.png" alt="" aria-hidden="true"><a href="https://www.suu.edu" target="_blank" rel="noopener">Southern Utah University</a></h5>
    <div class="time">2025</div>
</div><!--//item-->
  <div class="item">
    <h4 class="degree">B.S. in Digital Forensics</h4>
    <h5 class="meta"><img class="org-logo" src="{{site.baseurl}}/assets/images/logos/utahtech.png" alt="" aria-hidden="true"><a href="https://utahtech.edu" target="_blank" rel="noopener">Utah Tech University</a></h5>
    <div class="time">2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">A.S. in Pre-Engineering</h4>
    <h5 class="meta"><img class="org-logo" src="{{site.baseurl}}/assets/images/logos/utahtech.png" alt="" aria-hidden="true"><a href="https://utahtech.edu" target="_blank" rel="noopener">Utah Tech University</a></h5>
    <div class="time">2011</div>
</div><!--//item-->
</div><!--//education-container-->
