 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">M.S. in Cybersecurity</h4>
    <h5 class="meta">Southern Utah University</h5>
    <div class="time">2025</div>
</div><!--//item-->
  <div class="item">
    <h4 class="degree">B.S. in Digital Forensics</h4>
    <h5 class="meta">Utah Tech University</h5>
    <div class="time">2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">A.S. in Pre-Engineering</h4>
    <h5 class="meta">Utah Tech University</h5>
    <div class="time">2011</div>
</div><!--//item-->
</div><!--//education-container-->
